
a:link{
    margin-top: 0;
    color: white;
    list-style-type: none;
    text-decoration: none;
}
a:visited{
color:white;
}

.top-nav {
    background-color: #d64022;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}
.navbar {
    background-color: #092032;
    color: white;
}
.navbar .navbar-nav .nav-link {
    background-color: white;
    color: black;
    
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #d64022;
    color: white;
    text-align: center;
}

.navbar .navbar-nav .nav-link.active {
color: #d64022;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
color: white;
background-color: #092032;
}


@media (min-width: 992px)
.navbar-expand-lg .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background-color: #d64022;
}
