
a:link{
    margin-top: 0;
    color: white;
    list-style-type: none;
    text-decoration: none;
}
a:visited{
    color:white;
    }
 .nav-item .nav-link  a:visited{
        color:red;
        }
    
.top-nav {
    background-color: #d64022;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}
.navbar {
    background-color: #092032;
    color: white;
}
.navbar .navbar-nav .nav-link {
    background-color: white;
    color: black;
    
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #d64022;
    color: white;
    text-align: center;
}

.navbar .navbar-nav .nav-link.active {
color: #d64022;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
color: white;
background-color: #092032;
}
.dropdown-menu{
    color: red;
    background-color: white;
}
.dropdown-item{
    color: #d64022!important;
}
.dropdown-item:hover{
    color: white!important;
    background-color: #d64022;
    text-align: center;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: white;
}
}
.c-item {
    height: 620px;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
  section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}
  .iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d64022;
    color: white;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.bx {
    font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;}

.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color:#d64022;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.service:hover .iconbox {
    background-color: white;
    color:#d64022;
}
.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:wheat;
    color: white;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}
.service:hover h5,
.service:hover p {
    color: white!important;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

